# Diabetes prediction


*   using python, svm classifier
*   List item

In [32]:
#import dependencies
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [33]:
#data collection
data = pd.read_csv('diabetes.csv')
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [34]:
data.shape

(768, 9)

In [35]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [36]:
data['Outcome'].value_counts()
# 0 -> non-diabetic
# 1 -> diabetic

0    500
1    268
Name: Outcome, dtype: int64

In [37]:
data.groupby('Outcome').mean()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
Outcome,,,,,,,,
0,3.298000,109.980000,68.184000,19.664000,68.792000,30.304200,0.429734,31.190000
1,4.865672,141.257463,70.824627,22.164179,100.335821,35.142537,0.550500,37.067164

In [38]:
x = data.drop(columns = 'Outcome', axis=1)
y = data['Outcome']

In [39]:
#standardizing
#scaler = StandardScaler()
#x = scaler.fit_transform(x)

In [40]:
#splitting the data
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [41]:
#training the model
classifier = svm.SVC(kernel='linear')
classifier.fit(x_train,y_train)

SVC(kernel='linear')

In [42]:
#evaluate the model
x_train_pred = classifier.predict(x_train)
x_train_acc = accuracy_score(x_train_pred,y_train)

In [43]:
print('acccuracy score for the training data: ',x_train_acc)

acccuracy score for the training data:  0.7833876221498371

In [44]:
x_test_pred = classifier.predict(x_test)
x_test_acc = accuracy_score(x_test_pred,y_test)
print('acccuracy score for the testing data: ',x_test_acc)

acccuracy score for the testing data:  0.7727272727272727

In [45]:
#making a predictive system
input_data = (4,110,92,0,0,37.6,0.191,30)
arr = np.asarray(input_data)
input_data_reshaped = arr.reshape(1,-1)
std_data = scaler.transform(input_data_reshaped)
print(std_data)

pred = classifier.predict(std_data)
print(pred)

if(pred[0] == 0):
  print("not diabetic")
else:
  print("diabetic")

[[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]
[0]
not diabetic

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  "X does not have valid feature names, but"

In [46]:
#saving the trained model
import pickle

In [47]:
filename = 'trained_model.sav'
pickle.dump(classifier,open(filename,'wb'))

In [48]:
#loading the saved model
loaded_model = pickle.load(open('trained_model.sav','rb'))